<div class="container">

  <form class=" row form-inline mt-4">
    <input class="form-control mr-sm-2" #termoDaPesquisa type="search" placeholder="Pesquisar"
      (keyup)="pesquisa(termoDaPesquisa.value)" />
  </form>
  <hr>
  <div class="flex-container d-flex flex-column">
    <div class="list-group col" *ngFor="let item of administrators$ |async">
      <div class="list-group-item list-group-item-action d-flex shadow bg-body rounded mb-2" aria-current="true">
        <div class="divImgPrincipal">
          <div *ngIf="item.urlsImage.urlImgAdmin; then thenBlock; else elseBlock"></div>
          <ng-template #thenBlock>
            <ik-image [src]="item.urlsImage.urlImgAdmin" [transformation]="transformationImg2"></ik-image>
          </ng-template>
          <ng-template #elseBlock>
            <div *ngIf="item.sexo == 'F'">
              <img class="transformationImg2"
                src="https://avataaars.io/?avatarStyle=Circle&topType=LongHairCurvy&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Happy&eyebrowType=UpDown&mouthType=Smile&skinColor=Light" alt="foto de avatar feminino" />
            </div>
            <div *ngIf="item.sexo == 'M' || item.sexo == 'null' ">
              <img class="transformationImg2"
                src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Brown&facialHairType=BeardLight&facialHairColor=Blonde&clotheType=Hoodie&clotheColor=Blue03&eyeType=Squint&eyebrowType=RaisedExcited&mouthType=Twinkle&skinColor=Light' />
            </div>
          </ng-template>
        </div>
        <div class="col m-3">
          <div class="d-flex  w-100 justify-content-between ">
            <h5 class="mb-1 ">{{item.nome}}</h5>
            <small class="badge bg-success">{{item.typeUser}}</small>
          </div>
          <p class="mb-1">{{item.dataCad}}</p>
          <div *ngIf="item.dataNascimento != 'null'">
            <small>{{item.dataNascimento | dataIdade}}</small>
          </div>
        </div>
      </div>

      <!-- <div class="card" style="width: 18rem;" >
        <div If="item.urlsImage.urlI*ngmgAdmin; then thenBlock; else elseBlock"></div>
        <ng-template #thenBlock>
               <ik-image [src]="item.urlsImage.urlImgAdmin" [transformation]="transformationImg" ></ik-image>
        </ng-template>
        
        <ng-template #elseBlock> 
          <div *ngIf="item.sexo == 'F'">
            <img src='https://avataaars.io/?avatarStyle=Circle&topType=LongHairCurvy&accessoriesType=Blank&hairColor=Black&facialHairType=Blank&clotheType=BlazerShirt&eyeType=Happy&eyebrowType=UpDown&mouthType=Smile&skinColor=Light'alt="foto de avatar feminino"/> </div>
          <div *ngIf="item.sexo == 'M' || item.sexo == 'null'  ">
            <img src='https://avataaars.io/?avatarStyle=Circle&topType=ShortHairShortCurly&accessoriesType=Prescription02&hairColor=Brown&facialHairType=BeardLight&facialHairColor=Blonde&clotheType=Hoodie&clotheColor=Blue03&eyeType=Squint&eyebrowType=RaisedExcited&mouthType=Twinkle&skinColor=Light'
            />
          </div>
        </ng-template>

        <div class="card-body" >
          <hr>
          <div class="d-flex justify-content-between align-items-center">
            <h4 class="card-title fs-5">{{item.nome}}</h4>
            <h5 class="badge bg-success">{{item.typeUser}}</h5>
          </div>
          <div class="fs-6"> Data de Cadastro {{item.dataCad}}</div>
          <div *ngIf="item.dataNascimento != 'null'">
            <h5  class="fs-6"> Data de Nascimento {{item.dataNascimento}}</h5>
          </div>
          <div *ngIf="item.email != 'null'">
            <h5 class="fs-6"> Email {{item.email}}</h5>
          </div>
          
        
        </div>
      </div>  -->
    </div>
  </div>
</div>